body {
  margin: 0;
  height: 100vh;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
}

/* AMPL0P */
#envelope {
  width: 80%;
  height: 16.6vh; /* 1/6 layar */
  background: white;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  cursor: pointer;
}

#envelope img {
  height: 70%;
  border-radius: 10px;
}

#envelope p {
  margin: 5px;
  font-weight: bold;
}
